<!DOCTYPE html>
<html>
  <head>
    <title>Panda's Rails Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  </head>

  <body>
    <div class="header main_header clearfix">
      <div class="wrapper">
        <div id="logo">
          <p><%= link_to "Panda's Rails Forum", root_path %></p>
        </div>
        <div id="buttons">
          <% if user_signed_in? %>
            <%= link_to "New post", new_post_path %>
          <% else %>
            <%= link_to "sign Up", new_user_registration_path %>
            <%= link_to "sign In", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
